*{
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    background: #F5F5F5;
  }

  h1 {
    float: left;
    width: 50%
  }

  .radioBlock {
    float: right;
    background: rgb(228, 228, 7);
    width: 40%;
  }


  .nasaFrame {
    float: left;
    clear: both;
    width: 60%;
    position: relative;
}

.astronaut {
    width: 50%; 
    height: auto;
    display: block;
}

.nasaImage {
    position: absolute;
    top: 7.777%; 
    left: 13.326%;
    width: 22%; 
    max-width: 100%;
    clip-path: circle(48% at center); 
}

h3 {
  clear: both;
  float: right;
  width: 40%;
  font-family: "Exo 2", sans-serif;
  color: #564c3a;
}


  