*{
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    background: #F5F5F5;
  }



  .astronaut {
     width: 40%;
     position: relative;
  }
  
  .nasaFrame {
    position: relative;
    width: 100%;
    max-width: 100%;
  
  }

  .nasaImage {
    position: absolute;
    z-index: 2;
    right: 56rem;
    top: 1.743rem;
    width: 11.9375rem;
    max-width: 100%;
    height: 11.0625rem; 
    border-radius: 50%;
  }

  

  

  